@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Anonymous Pro", monospace;;
}

.progress-header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #FFFFFF;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #FFFFFF;
}

.progress-bar {
  height: 8px;
  background: #E5BB89;
  width: 0%;
}

.main-render {
  scroll-snap-type: block mandatory;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

section, footer {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
}

section.intro{
  background: linear-gradient(0deg, rgba(111,93,68,1) 0%, rgba(204,197,183,1) 100%);
}

.line-1{
  font-family: "Anonymous Pro", monospace;
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44) 1s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 10em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

section.portfolio {
  background: linear-gradient(0deg, rgba(204,197,183,1) 0%, rgba(111,93,68,1) 100%);
}

.portfolio {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "profile-picture title title"
    "summary summary summary"
    "experience experience experience"
    "certificates certificates certificates"
    "education education education";
}

.profile-picture { grid-area: profile-picture; }

.title { grid-area: title; }

.summary { grid-area: summary; }

.experience { grid-area: experience; }

.certificates { grid-area: certificates; }

.education { grid-area: education; }

section.keypoints{
  background: linear-gradient(0deg, rgba(111,93,68,1) 0%, rgba(204,197,183,1) 100%);
}

.tech-icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 2fr));
  gap: 1rem;
}




section.projects{
  background: linear-gradient(0deg, rgba(204,197,183,1) 0%, rgba(111,93,68,1) 100%);
}

/* Mobile devices */
@media only screen and (max-width: 480px) {

section.intro{
  background-color: #616661;
}

  
section.portfolio {
  background-image: url('../images/background/background-mobile-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .portfolio {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "profile-picture title title"
    "summary summary summary"
    "experience experience experience"
    "certificates certificates certificates"
    "education education education";
} */

.profile-picture { grid-area: profile-picture; }

.title { grid-area: title; }

.summary { grid-area: summary; }

.experience { grid-area: experience; }

.certificates { grid-area: certificates; }

.education { grid-area: education; }

section.keypoints{
  background-image: url("../images/background/background-mobile-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tech-icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 2fr));
  gap: 1rem;
}




section.projects{
  background-image: url('../images/background/background-mobile-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

}

/* Tablets or iPad */
@media only screen and (max-width: 768px) {

  section.intro{
    background-color: #616661 !important;
  }
  
    
  section.portfolio {
    background-image: url('../images/background/background-mobile-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* .portfolio {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "profile-picture title title"
      "summary summary summary"
      "experience experience experience"
      "certificates certificates certificates"
      "education education education";
  } */
  
  .profile-picture { grid-area: profile-picture; }
  
  .title { grid-area: title; }
  
  .summary { grid-area: summary; }
  
  .experience { grid-area: experience; }
  
  .certificates { grid-area: certificates; }
  
  .education { grid-area: education; }
  
  section.keypoints{
    background-image: url("../images/background/background-mobile-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .tech-icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 2fr));
    gap: 1rem;
  }
  
  
  
  
  section.projects{
    background-image: url('../images/background/background-mobile-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
}

/* Laptop or small-size screen */
@media only screen and (max-width: 1024px) {
  
}